body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */
.main {
  display: inline-block;
}

.searchbar {
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
}

img {
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Books Component CSS */
ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

li {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 200px;
}

/* Single Book details component CSS */
.bookdetails {
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
  display: block;
  text-wrap-style: balance;
}

/* Navigations component CSS */

.header {
  display: flex;
  align-items: center;
  background: black;
  width: 100%;
  color: white;
}

.home h1 {
  cursor: pointer;
  color: #000;
}

.header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

.header a {
  text-decoration: none;
  color: #7DF074;
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-size: large;
  font-weight: bolder;
}

.header a:hover {
  color: #4CF0E9;
}

.error {
  color: red;
}

.login{
  text-align: center;
  margin:0 auto;
  max-width:500px;
}
.register{
  text-align: center;
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#221e1e;
  text-align:center;
  font-size:200%;
}
.register-header {
  color:#221e1e;
  text-align:center;
  font-size:200%;
}
/* .container{
  background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
} */
.login-form {
  border:.5px solid #fff;
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.register-form {
  border:.5px solid #fff;
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form  h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.register-form h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.login-form  {
  box-sizing:border-box;
  padding-top:15px;
  padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.register-form {
  box-sizing:border-box;
  padding-top:15px;
  padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.register input[type="email"],
.register input[type="text"],
.register input[type="password"] {
  max-width:400px;
  width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login input[type="email"],
.login input[type="password"] {
  max-width:400px;
  width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login-form button{
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.register-form button{
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.login error{
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}
.register error{
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}
.link-login,
.link-register {
  margin: 20px 0 0;
  text-align: center;
  cursor: pointer;
}

.account{
  text-align: center;
}